<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @patient.title %>
</p>

<p>
  <b>Family name:</b>
  <%= @patient.family_name %>
</p>

<p>
  <b>Given name:</b>
  <%= @patient.given_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @patient.middle_name %>
</p>

<p>
  <b>Maiden name:</b>
  <%= @patient.maiden_name %>
</p>

<p>
  <b>Sex:</b>
  <%= @patient.sex %>
</p>

<p>
  <b>Blood group:</b>
  <%= @patient.blood_group %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @patient.date_of_birth %>
</p>

<p>
  <b>Street address:</b>
  <%= @patient.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @patient.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @patient.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%= @patient.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @patient.phone2 %>
</p>

<p>
  <b>Mobile:</b>
  <%= @patient.mobile %>
</p>

<p>
  <b>Fax:</b>
  <%= @patient.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<p>
  <b>Citizenship:</b>
  <%= @patient.citizenship %>
</p>

<p>
  <b>Religion:</b>
  <%= @patient.religion %>
</p>

<p>
  <b>Occupation:</b>
  <%= @patient.occupation %>
</p>

<p>
  <b>Employer:</b>
  <%= @patient.employer %>
</p>

<p>
  <b>Contact person:</b>
  <%= @patient.contact_person %>
</p>

<p>
  <b>Contact relation:</b>
  <%= @patient.contact_relation %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
